<nav class="navbar bg-primary fixed-top">
    <div class="d-flex justify-content-between w-100">
            <button class="border-0 navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <span class="navbar-toggler-icon"></span>
            </button>

        <a href="/" class="site-name-a"><h1 class="fs-2 text-white site-name">MarmiWild</h1></a>

        {% if app.user %}
            <div class="d-flex">
                <p class="fs-6 text-white my-auto me-2 userEmail">{{ app.user.email }}</p>
                <a href="{{ path('app_logout') }}" class="text-white fs-5 my-auto me-4 connexion">Déconnexion</a>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="text-white fs-5 my-auto me-4 connexion">Connexion</a>
        {% endif %}

    </div>

    <div class="navPannel offcanvas offcanvas-start bg-primary text-light text-uppercase shadow-sm"
         data-bs-scroll="true"
         data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">

        </div>
        <div class="offcanvas-body">
            {% if app.user %}
                <h2 class="fs-5 mt-4 navbar-email">{{ app.user.email }}</h2>
            {% endif %}
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5">
                <li class="mb-3">
                    <a href="{{ path('app_recette_owner') }}" class="text-white link-category">Mes recettes</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_new') }}" class="text-white link-category">Nouvelle recette</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_category', {category: 1}) }}" class="text-white link-category">Apéro</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_category', {category: 2}) }}" class="text-white link-category">Entrée</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_category', {category: 3}) }}" class="text-white link-category">Plat</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_category', {category: 4}) }}" class="text-white link-category">Dessert</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_category', {category: 5}) }}" class="text-white link-category">Boisson</a>
                </li>
                <li class="mb-3">
                    <a href="{{ path('app_recette_category', {category: 6}) }}" class="text-white link-category">Accompagnement</a>
                </li>
            </ul>
        </div>
    </div>

</nav>